.register-container {
    display: flex;
    flex-wrap: wrap;
    width: 20em;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
}

.credential-box {
    width: 85%;
    margin-bottom: 20px;
}

.credential-box-label {
    margin-bottom: 2px;
}

.credential-submit {
    width: 20%;
}
